In [6]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('datasets/cleaned_14.csv')

# View the first 5 rows
df.head()

,Product Desc,Qty,Total Price,Total Cost,Total Cost %,Total Profit,Total Profit %,all_nan,Branch,Department,Category,Division
0,1 SHOT DECAFE,404.00,0.00,"3,856.85",0.00,"-3,856.85",100.00,False,Bir Hasan,TAKE AWAY,BEVERAGES,COLD BAR SECTION
1,2 SHOT DECAFE,637.00,0.00,"12,162.45",0.00,"-12,162.45",100.00,False,Bir Hasan,TAKE AWAY,BEVERAGES,COLD BAR SECTION
2,3 SHOT DECAFE,113.00,0.00,"3,236.32",0.00,"-3,236.32",100.00,False,Bir Hasan,TAKE AWAY,BEVERAGES,COLD BAR SECTION
3,ADD BANANA SAUCE LARGE,4.00,266.67,139.97,52.49,126.69,47.51,False,Bir Hasan,TAKE AWAY,BEVERAGES,COLD BAR SECTION
4,ADD BANANA SAUCE MEDIUM,47.00,"1,487.39",822.34,55.29,665.04,44.71,False,Bir Hasan,TAKE AWAY,BEVERAGES,COLD BAR SECTION

In [ ]:
#just to check the number of branches if it matches the given
len(df["Branch"].unique())

25