## We ll do the same thing as the dataset14

In [3]:
import pandas as pd

# Read CSV file
df = pd.read_csv("datasets/rep_s_00191_SMRY-3.csv", header = 3)


# let's see how many empty values in each column there is
useless = []
for col in df.columns:
    nan_count = df[col].isna().sum()
    nan_percent = (nan_count / len(df)) * 100
    print(f"In column '{col}' there are {nan_percent:.2f}% NaN values ({nan_count} empty cells)")
    if nan_percent >= 90:
        useless.append(col)

In column 'Description' there are 0.01% NaN values (1 empty cells)
In column 'Barcode' there are 94.93% NaN values (13419 empty cells)
In column 'Qty' there are 10.73% NaN values (1517 empty cells)
In column 'Total Amount' there are 8.19% NaN values (1158 empty cells)
In column 'Unnamed: 4' there are 97.47% NaN values (13778 empty cells)

In [4]:
df.head()

                   Description Barcode     Qty Total Amount  Unnamed: 4
0  Branch: Stories - Bir Hasan     NaN     NaN          NaN         NaN
1    Division: HOT BAR SECTION     NaN     NaN          NaN         NaN
2          Group: BLACK COFFEE     NaN     NaN          NaN         NaN
3                     ESPRESSO     NaN  3313.0   500,103.75         NaN
4              DOUBLE ESPRESSO     NaN  3200.0   498,631.33         NaN

In [5]:
pd.concat([df["Barcode"], df["Unnamed: 4"]]).unique()

array([nan, 'Years:2025 Months:0', 'Barcode',
       'Copyright Â© 2026 Omega Software, Inc. All Rights ', 359.0],
      dtype=object)

In [6]:
## thus Barcode and unnamed 4 are completely useless we will drop them
df = df.drop(columns = useless)

### since there are still NaN values but for some rows we will be cleaning up all rows that have all the columns values = NaN

In [7]:
# we will add a column true if all the important features are NaN else false
df["all_nan"] = df.drop(columns = ['Description']).isna().all(axis=1)
# then we will drop all the stuff that have all NaN
df = df[~df["all_nan"]]
# for cleanup let's reset the index and drop the last column 
df = df.reset_index(drop = True)
df = df.iloc[:-1]

In [8]:
## let's retest the NaN test:
# let's see how many empty values in each column there is
useless = []
for col in df.columns:
    nan_count = df[col].isna().sum()
    nan_percent = (nan_count / len(df)) * 100
    print(f"In column '{col}' there are {nan_percent:.2f}% NaN values ({nan_count} empty cells)")
    if nan_percent >= 90:
        useless.append(col)

In column 'Description' there are 0.00% NaN values (0 empty cells)
In column 'Qty' there are 2.76% NaN values (358 empty cells)
In column 'Total Amount' there are 0.00% NaN values (0 empty cells)
In column 'all_nan' there are 0.00% NaN values (0 empty cells)

## Let's do SOME EDAA