In [2]:
import pandas as pd

# Read CSV file
df = pd.read_csv("datasets/rep_s_00014_SMRY.csv", header = 3)

# Preview first 5 rows
df.head()

,Product Desc,Qty,Total Price,Unnamed: 3,Total Cost,Total Cost %,Total Profit,Unnamed: 7,Total Profit %,Unnamed: 9
0,Stories - Bir Hasan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TAKE AWAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BEVERAGES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COLD BAR SECTION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 SHOT DECAFE,404.00,0.00,NaN,"3,856.85",0.00,"-3,856.85",NaN,100.00,NaN

In [3]:
# let's see how many empty values in each column there is
useless = []
for col in df.columns:
    nan_count = df[col].isna().sum()
    nan_percent = (nan_count / len(df)) * 100
    print(f"In column '{col}' there are {nan_percent:.2f}% NaN values ({nan_count} empty cells)")
    if nan_percent >= 90:
        useless.append(col)

In column 'Product Desc' there are 0.00% NaN values (0 empty cells)
In column 'Qty' there are 7.15% NaN values (1042 empty cells)
In column 'Total Price' there are 7.15% NaN values (1043 empty cells)
In column 'Unnamed: 3' there are 97.29% NaN values (14186 empty cells)
In column 'Total Cost' there are 7.15% NaN values (1043 empty cells)
In column 'Total Cost %' there are 7.15% NaN values (1043 empty cells)
In column 'Total Profit' there are 7.15% NaN values (1043 empty cells)
In column 'Unnamed: 7' there are 97.29% NaN values (14186 empty cells)
In column 'Total Profit %' there are 7.15% NaN values (1042 empty cells)
In column 'Unnamed: 9' there are 97.29% NaN values (14186 empty cells)

In [4]:
#everything above 90% we ll drop completely useless LOL
df = df.drop(columns = useless)

### since there are still NaN values but for some rows we will be cleaning up all rows that have all the columns values = NaN

In [5]:
# we will add a column true if all the important features are NaN else false
df["all_nan"] = df.drop(columns = ['Product Desc']).isna().all(axis=1)
# then we will drop all the stuff that have all NaN
df = df[~df["all_nan"]]

In [6]:
# for cleanup let's reset the index and drop the last column 
df = df.reset_index(drop = True)
df = df.iloc[:-1]

In [7]:
## let's retest the NaN test:
# let's see how many empty values in each column there is
useless = []
for col in df.columns:
    nan_count = df[col].isna().sum()
    nan_percent = (nan_count / len(df)) * 100
    print(f"In column '{col}' there are {nan_percent:.2f}% NaN values ({nan_count} empty cells)")
    if nan_percent >= 90:
        useless.append(col)
#0 % NaN = LA3IBBBB

In column 'Product Desc' there are 0.00% NaN values (0 empty cells)
In column 'Qty' there are 0.00% NaN values (0 empty cells)
In column 'Total Price' there are 0.00% NaN values (0 empty cells)
In column 'Total Cost' there are 0.00% NaN values (0 empty cells)
In column 'Total Cost %' there are 0.00% NaN values (0 empty cells)
In column 'Total Profit' there are 0.00% NaN values (0 empty cells)
In column 'Total Profit %' there are 0.00% NaN values (0 empty cells)
In column 'all_nan' there are 0.00% NaN values (0 empty cells)

## Let's Start with actual EDA + Insights given by the hackathon description

In [8]:
df

,Product Desc,Qty,Total Price,Total Cost,Total Cost %,Total Profit,Total Profit %,all_nan
0,1 SHOT DECAFE,404.00,0.00,"3,856.85",0.00,"-3,856.85",100.00,False
1,2 SHOT DECAFE,637.00,0.00,"12,162.45",0.00,"-12,162.45",100.00,False
2,3 SHOT DECAFE,113.00,0.00,"3,236.32",0.00,"-3,236.32",100.00,False
3,ADD BANANA SAUCE LARGE,4.00,266.67,139.97,52.49,126.69,47.51,False
4,ADD BANANA SAUCE MEDIUM,47.00,"1,487.39",822.34,55.29,665.04,44.71,False
...,...,...,...,...,...,...,...,...
13533,ADD TUNA,7.00,"1,027.03",334.50,32.57,692.53,67.43,False
13534,Total By Division:,51.00,"5,579.58","2,381.77",42.69,"3,197.81",57.31,False
13535,Total By Category:,"10,528.50","1,287,075.68","484,453.55",37.64,"802,622.12",62.36,False
13536,Total By Department:,"22,252.50","2,818,715.92","844,897.47",29.97,"1,973,818.45",70.03,False
13537,Total By Branch:,"22,261.50","2,819,448.66","845,094.73",29.97,"1,974,353.92",70.03,False